<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mi API Node.js</title>
    <script src="https://ajax.googleeapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  </head>
  <body>
    {{{ body }}}
  </body>
</html>